@font-face {
  font-family: Staatliches;
  src: url('/static/Staatliches-Regular.ttf');
}

@font-face {
  font-family: NationalPark;
  src: url('/static/NationalPark-Thin.otf');
}

@keyframes slideIn {
  from {
    right: -1500px;
  }
  to {
    right: 0px;
  }
}

body {
  color: #fff;
  font-family: NationalPark, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #181818;
  // background-image: linear-gradient(100deg, #eabb00 15%, #181818 15%);
  margin: 0;
  padding: 0;
  transition: background-image 300ms ease-in-out;

  @media only screen and (min-width: 1200px) {
    // background-image: linear-gradient(110deg, #181818 70%, #eabb00 70%);
  }
}

.title {
  font-family: Staatliches, sans-serif;
  color: #eabb00;
}

.heading {
  font-size: 2.5rem;
}

.beerone {
  &-container {
    margin: 0px;
  }

  &-glass {
    width: 25%;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: transparent;
    background-image: url('/static/beer.webp');
    background-size: 100vh;
    background-position: 3% 90px;
    background-repeat: no-repeat;
    transition: background-position 300ms ease-in-out;
    z-index: 1;

    @media only screen and (min-width: 1200px) {
      width: 35%;
      right: auto;
      background-position: 100% 90px;
    }
  }

  &-header {
    max-height: 3rem;
  }

  &-logo {
    img {
      width: 300px;
      height: auto;
    }
  }

  &-search {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &-content {
    margin: 50px;
    width: 75%;

    @media only screen and (min-width: 1200px) {
      width: 65%;
      margin-left: 35%;
    }

    .beer {
      &-title {
        @extend .title;
        width: 100%;
        height: 100px;
        font-size: 5rem;
        margin-right: 50px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: relative;
        -webkit-text-stroke: 1px #eabb00;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media only screen and (min-width: 1200px) {
          // text-align: right;
          // left: -50px;
        }
      }

      &-title-sly {
        @extend .beer-title;
        color: #181818;
        margin-top: -100px;
        -webkit-text-stroke: 1px #eabb00;
        transition: clip-path 100ms ease-in-out;
        clip-path: polygon(0 0, 15% 0, 13% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 15% 0, 13% 100%, 0% 100%);

        @media only screen and (min-width: 768px) {
        clip-path: polygon(0 0, 15% 0, 13% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 15% 0, 13% 100%, 0% 100%);
        }

        @media only screen and (min-width: 1200px) {
          clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 72% 100%);
          -webkit-clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 72% 100%);
        }
      }

      &-desc {
        font-size: 1.2rem;
        text-align: center;
        width: 90%;
      }

      &-style {
        width: 90% !important;
        margin: 1rem 0;
        text-align: center;

        .beer-info-container {
          width: 100%;
        }

        .beer-info-display {
          height: auto;
        }

        &-btns {
          width: 50%;
          margin: 0 auto;
          display: flex;

          .beer-button {
            margin: 0 0.5rem;
          }
        }
      }

      &-info {
      }
    }
  }

  &-modal {
    width: 75%;
    background-color: darken(#eabb00, 9);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    animation-name: slideIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in;

    @media only screen and (min-width: 1200px) {
      width: 33%;
    }
  }
}
