.highlight-beer {
  width: 100%;
  height: 100px;
  color: #181818;
  margin: 30px auto;
  padding: 5px;
  background-size: cover;
  background-position: 50% 50%;
  border: 2px solid #eabb00;
  border-radius: 5px;
  position: relative;
  transition: all 0.25s ease-in;
  cursor: pointer;

  &:hover {
    background-position: 50% 40%;
  }

  @media only screen and (min-width: 900px) {
    width: 250px;
    max-width: 33.3%;
    margin: 45px 20px 0;
  }

  &-title {
    max-height: 50px;
    font-family: Staatliches, sans-serif;
    font-size: 22.5px;
    text-align: right;
    margin-left: 65px;
    overflow-y: hidden;
  }

  &-label {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    text-align: left;
    position: absolute;
    background-size: cover;
    border: 2px solid #eabb00;
    border-radius: 5px;

    img {
      width: 60px;
      height: 60px;
      margin-top: -30px;
      position: absolute;
      border: 2px solid #eabb00;
      border-radius: 5px;
    }
  }

  &-desc {
    max-height: 50px;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    overflow-y: hidden;
  }

  &-num {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    bottom: 25px;
  }
}
